* {
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #f3f3f3;
  background-image: url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.title {
  text-align: center;
}
.container {
  max-width: 900px;
  margin: 0 auto;
}

.form_container {
  margin-top: 20px;
  background-color: rgba(27, 27, 50, 0.8);
  color: #f3f3f3;
  max-width: 600px;
  padding: 10px 10px;
  border-radius: 10px;
}
label {
  font-size: 15px;
  margin-bottom: 5px;
  margin-right: 10px;
}
input,
textarea,
select {
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px 10px;
  font-size: 13px;
}
p {
  margin-top: 10px;
}
.button {
  margin-top: 10px;
  font-size: large;
  border: none;
  text-align: center;
}

button {
  background-color: #37af65;
  border: none;
  color: #f3f3f3;
  padding: 10px 10px;
  margin: 10px 10px;
  width: 500px;
}
